@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/AvenirNextCyr-Regular.woff2") format("woff2"), url("../fonts/AvenirNextCyr-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  font-display: swap;
  src: url("../fonts/Avenir-Roman.woff2") format("woff2"), url("../fonts/Avenir-Roman.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Golos";
  font-display: swap;
  src: url("../fonts/Golos-Text_Black.woff2") format("woff2"), url("../fonts/Golos-Text_Black.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Radley";
  font-display: swap;
  src: url("../fonts/Radley-Regular.woff2") format("woff2"), url("../fonts/Radley-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Radley";
  font-display: swap;
  src: url("../fonts/Radley-Italic.woff2") format("woff2"), url("../fonts/Radley-Italic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  display: block;
}

a {
  text-decoration: none;
}

a:active,
a:hover {
  outline: 0;
}

ul,
li {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus {
  outline: 0;
}

img,
audio,
video {
  max-width: 100%;
  height: auto;
}

audio,
canvas,
iframe,
video,
img,
svg {
  vertical-align: middle;
}

iframe {
  border: 0;
}

img,
svg {
  display: block;
}

textarea {
  resize: vertical;
  /*remove the resize handle on the bottom right*/
  overflow: auto;
  vertical-align: top;
  box-shadow: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
}

input,
textarea,
select,
button {
  padding: 0;
  outline: none;
  border: none;
  font-size: 100%;
  margin: 0;
}

button,
input {
  line-height: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
  text-align: left;
}

html,
body {
  position: relative;
  height: 100%;
}

.slider-component {
  position: relative;
  height: 0%;
  padding-top: calc(100vh - 63px);
  background-color: #333333;
}

.slider-component .slider-component__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slider-component .slider-component__plug {
  opacity: 0;
  visibility: hidden;
  padding: 50px;
  background-color: #ffffff;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  padding-top: 10vh;
  flex-direction: column;
}

.slider-component .slider-component__plug.show {
  opacity: 1;
  visibility: visible;
}

.slider-component .slider-component__plug .slider-component__plug-title {
  text-align: center;
  font-family: Avenir;
  font-size: 18px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 2.18px;
  color: #b19673;
}

.slider-component .slider-component__plug .slider-component__plug-img {
  margin-bottom: 40px;
}

.slider-component .slider-component__plug .slider-component__plug-text {
  font-size: 16px;
  font-family: Avenir;
  text-align: center;
  font-weight: 400;
  line-height: 175%;
  color: #333333;
}

.slider-component .swiper-horizontal > .swiper-pagination-bullets,
.slider-component .swiper-pagination-bullets.swiper-pagination-horizontal,
.slider-component .swiper-pagination-custom,
.slider-component .swiper-pagination-fraction,
.slider-component .fake-pagination {
  bottom: 30px;
  transform: translateY(50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-component .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
.slider-component .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  width: calc((1vw + 1vh) * 1.15);
  height: calc((1vw + 1vh) * 1.35);
  border-radius: 2px;
  margin: 0px 20px;
  background: #ffffff;
  opacity: 1;
  transition: background-color 0.3s ease-in-out;
}

.slider-component .swiper-pagination-bullet-active {
  background-color: #cfae78 !important;
}

.slider-component .fake-pagination {
  width: 100%;
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-component .fake-pagination span {
  border: 1px solid #000000;
  width: calc((1vw + 1vh) * 1.15);
  height: calc((1vw + 1vh) * 1.35);
  border-radius: 2px;
  background: rgba(255, 255, 255, 0.6);
  opacity: 0.2;
  margin: 0px 20px;
  flex: 0 0 auto;
}

.mySwiper {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 10;
}

.mySwiper .swiper-wrapper {
  opacity: 0;
}

.mySwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mySwiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.slider-slides {
  position: relative;
  height: calc(100% - 63px);
  width: 100%;
  display: flex;
  align-items: stretch;
  transition: opacity 0.3s ease;
  background-color: #fff;
  border: 4px solid #333333;
  border-radius: 17px;
  overflow: hidden;
}

.slider-slides[data-step="1"] .slide-1 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="2"] .slide-2 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="2"] .slide-2 .segmental__left-image,
.slider-slides[data-step="2"] .slide-2 .segmental__text-block {
  transform: translateX(0%);
  width: 50%;
}

.slider-slides[data-step="2"] .slide-2 .segmental__right-image {
  width: 0%;
}

.slider-slides[data-step="3"] .slide-2 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="3"] .slide-2 .segmental__left-image,
.slider-slides[data-step="3"] .slide-2 .segmental__text-block {
  width: 31.5%;
  transform: translateX(0%);
}

.slider-slides[data-step="3"] .slide-2 .segmental__right-image {
  width: 37%;
}

.slider-slides[data-step="3"] .segmental__text-block {
  padding-left: 4vw;
}

.slider-slides[data-step="4"] .slide-2 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="4"] .slide-2 .segmental__left-image,
.slider-slides[data-step="4"] .slide-2 .segmental__text-block {
  transform: translateX(0%);
  opacity: 0;
  width: 31.5%;
}

.slider-slides[data-step="4"] .slide-2 .segmental__right-image {
  width: 100%;
}

.slider-slides[data-step="4"] .slide-2 .right-image__text {
  opacity: 1;
}

.slider-slides[data-step="5"] .slide-3 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="5"] .slide-3 .segmental__left-image {
  transform: translateX(0%);
  width: 66.66%;
}

.slider-slides[data-step="5"] .slide-3 .segmental__text-block {
  transform: translateX(0%);
  width: 33.333%;
}

.slider-slides[data-step="5"] .slide-3 .segmental__right-image {
  width: 0%;
}

.slider-slides[data-step="6"] .slide-3 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="6"] .slide-3 .segmental__left-image,
.slider-slides[data-step="6"] .slide-3 .segmental__text-block {
  transform: translateX(0%);
  width: 31.5%;
}

.slider-slides[data-step="6"] .slide-3 .segmental__right-image {
  width: 37%;
}

.slider-slides[data-step="6"] .segmental__text-block {
  padding-left: 4vw;
}

.slider-slides[data-step="7"] .slide-3 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="7"] .slide-3 .segmental__left-image,
.slider-slides[data-step="7"] .slide-3 .segmental__text-block {
  transform: translateX(0%);
  opacity: 0;
  width: 31.5%;
}

.slider-slides[data-step="7"] .slide-3 .segmental__right-image {
  width: 100%;
}

.slider-slides[data-step="7"] .right-image__text {
  opacity: 1;
}

.slider-slides[data-step="8"] .slide-4 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="8"] .slide-4 .segmental__left-image {
  transform: translateX(0%);
  width: 66.66%;
}

.slider-slides[data-step="8"] .slide-4 .segmental__text-block {
  transform: translateX(0%);
  width: 33.333%;
}

.slider-slides[data-step="8"] .slide-4 .segmental__right-image {
  width: 0%;
}

.slider-slides[data-step="9"] .slide-4 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="9"] .slide-4 .segmental__left-image,
.slider-slides[data-step="9"] .slide-4 .segmental__text-block {
  transform: translateX(0%);
  width: 31.5%;
}

.slider-slides[data-step="9"] .slide-4 .segmental__right-image {
  width: 37%;
}

.slider-slides[data-step="9"] .segmental__text-block {
  padding-left: 4vw;
}

.slider-slides[data-step="10"] .slide-4 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="10"] .slide-4 .segmental__left-image,
.slider-slides[data-step="10"] .slide-4 .segmental__text-block {
  transform: translateX(0%);
  opacity: 0;
  width: 31.5%;
}

.slider-slides[data-step="10"] .slide-4 .segmental__right-image {
  width: 100%;
}

.slider-slides[data-step="10"] .right-image__text {
  opacity: 1;
}

.slider-slides[data-step="11"] .slide-5 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="11"] .slide-5 .segmental__left-image {
  transform: translateX(0%);
  width: 66.66%;
}

.slider-slides[data-step="11"] .slide-5 .segmental__text-block {
  transform: translateX(0%);
  width: 33.333%;
}

.slider-slides[data-step="11"] .slide-5 .segmental__right-image {
  width: 0%;
}

.slider-slides[data-step="12"] .slide-5 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="12"] .slide-5 .segmental__left-image,
.slider-slides[data-step="12"] .slide-5 .segmental__text-block {
  transform: translateX(0%);
  width: 31.5%;
}

.slider-slides[data-step="12"] .slide-5 .segmental__right-image {
  width: 37%;
}

.slider-slides[data-step="12"] .segmental__text-block {
  padding-left: 4vw;
}

.slider-slides[data-step="13"] .slide-5 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="13"] .slide-5 .segmental__left-image,
.slider-slides[data-step="13"] .slide-5 .segmental__text-block {
  transform: translateX(0%);
  opacity: 0;
  width: 31.5%;
}

.slider-slides[data-step="13"] .slide-5 .segmental__right-image {
  width: 100%;
}

.slider-slides[data-step="13"] .right-image__text {
  opacity: 1;
}

.slider-slides[data-step="14"] .slide-6 {
  opacity: 1;
  visibility: visible;
  transition: opacity 1s ease, visibility 1s ease;
}

.slider-slides[data-step="14"] .slide-6 .segmental__left-image,
.slider-slides[data-step="14"] .slide-6 .segmental__text-block {
  transform: translateX(0%);
  opacity: 1;
  width: 50%;
}

.slider-slides[data-step="14"] .slide-6 .segmental__left-image img,
.slider-slides[data-step="14"] .slide-6 .segmental__text-block img {
  margin-right: auto;
  margin-left: 0;
}

.slider-slides[data-step="14"] .slide-6 .right-image__text {
  transition: transform 1s ease-in-out;
  opacity: 1;
  transform: translateX(0%);
}

.slider-slide {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  overflow: hidden;
  flex: 0 0 100%;
  display: flex;
  align-items: stretch;
  opacity: 0;
  visibility: hidden;
}

.slider-slide-bgi {
  width: 100%;
  height: 100%;
}

.slider-slide-bgi img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.segmental__left-image,
.segmental__text-block,
.segmental__right-image {
  transition: width 1.2s ease-in-out, opacity 1s ease-in-out, transform 1s ease, padding 1.2s ease-in-out;
  background-color: #fff;
  will-change: transform;
}

.segmental__left-image,
.segmental__text-block {
  transform: translateX(100%);
}

.first-variant .segmental__left-image img {
  transform: scale(1.01);
  height: 100%;
  -o-object-position: center;
     object-position: center;
  margin-left: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-variant .segmental__left-image img {
  transform: scale(1.01);
  height: 100%;
  width: 100%;
  -o-object-position: right top;
     object-position: right top;
  -o-object-fit: cover;
     object-fit: cover;
}

.second-variant.slide-4 img {
  -o-object-position: center;
     object-position: center;
}

.segmental__left-image {
  height: 100%;
}

.segmental__text-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 60px;
  padding-left: 8vw;
}

.segmental__text-block .text__content {
  max-width: 18vw;
  width: 100%;
}

.segmental__right-image {
  height: 101%;
  background-color: blue;
  position: absolute;
  right: 0;
  top: 0;
}

.segmental__right-image img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.text__content .text__content-title {
  font-family: Radley;
  font-style: italic;
  font-size: calc((1vw + 1vh) * 0.55);
  color: #000;
  font-weight: 400;
  margin-bottom: 9px;
}

.text__content .text__content-line {
  height: 1px;
  background-color: #000;
  max-width: 151px;
  margin-bottom: 9px;
}

.text__content .text__content-subtitle {
  font-family: Avenir;
  font-size: calc((1vw + 1vh) * 0.55);
  margin-bottom: 9px;
}

.text__content .text__content-location {
  font-size: calc((1vw + 1vh) * 0.85);
  font-family: Radley;
  font-weight: 400;
  line-height: 140%;
  margin-bottom: 9px;
  letter-spacing: 1.88px;
}

.text__content .text__content-country {
  font-size: calc((1vw + 1vh) * 0.55);
  letter-spacing: 1.88px;
  font-family: Radley;
}

.main-slide {
  position: relative;
}

.main-slide .slider-slide-bgi {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-slide .slider-slide-bgi img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}

.main-slide .main-slide__content {
  width: 100%;
  position: relative;
  z-index: 1;
  padding: calc((1vw + 1vh) * 2.5) calc((1vw + 1vh) * 2) calc((1vw + 1vh) * 2.5) calc((1vw + 1vh) * 3.8);
}

.main-slide .main-slide__nameplate {
  color: #fff;
  font-family: Avenir;
  font-size: calc((1vw + 1vh) * 0.73);
  text-align: right;
  margin-bottom: 25px;
  margin-bottom: calc((1vw + 1vh) * 1.6);
}

.main-slide .main-slide__title {
  font-size: calc((1vw + 1vh) * 3.15);
  margin-bottom: calc((1vw + 1vh) * 1.6);
  font-family: Golos;
  color: #333333;
  letter-spacing: 1.41px;
  line-height: 85%;
}

.main-slide .main-slide__descr {
  font-family: "Avenir";
  font-style: normal;
  font-weight: 400;
  font-size: calc((1vw + 1vh) * 0.73);
  line-height: 170%;
  margin-bottom: calc((1vw + 1vh) * 1.6);
  max-width: 32vw;
  color: #000000;
}

.main-slide .main-slide__footer-text {
  font-family: Radley;
  color: #fff;
  font-style: italic;
  font-weight: 400;
  font-size: calc((1vw + 1vh) * 0.73);
  line-height: 170%;
}

.slide-2 .right-image__text {
  bottom: calc((1vw + 1vh) * 3.2);
  left: calc((1vw + 1vh) * 4);
}

.slide-3 .right-image__text {
  left: calc((1vw + 1vh) * 4);
  top: calc((1vw + 1vh) * 3.2);
}

.slide-4 .right-image__text {
  right: calc((1vw + 1vh) * 5.8);
  bottom: calc((1vw + 1vh) * 3.3);
}

.slide-5 .right-image__text.left {
  bottom: calc((1vw + 1vh) * 3.2);
  left: calc((1vw + 1vh) * 4);
}

.slide-5 .right-image__text.right {
  top: calc((1vw + 1vh) * 4);
  right: calc((1vw + 1vh) * 4);
}

.slide-6 .segmental__text-block {
  position: relative;
}

.slide-6 .segmental__text-block .right-image__text {
  transform: translateX(-100%);
  right: calc((1vw + 1vh) * 5);
  bottom: calc((1vw + 1vh) * 3.3);
  border-color: #030303;
}

.slide-6 .segmental__text-block .right-image__text .right-image__text-item {
  color: #030303;
}

.right-image__text {
  transition: opacity 0.1s ease-in-out;
  border: 2px solid #fff;
  padding: 40px 20px;
  padding: calc((1vw + 1vh) * 1.8) calc((1vw + 1vh) * 0.8);
  position: absolute;
  opacity: 0;
}

.right-image__text .right-image__text-item {
  letter-spacing: 1.88px;
  font-family: Radley;
  font-style: italic;
  font-size: calc((1vw + 1vh) * 0.63);
  line-height: 140%;
  color: #fff;
}

@media (min-device-width: 320px) and (max-device-width: 900px) and (orientation: landscape) {
  .slider-slides {
    height: calc(100% - 40px);
  }

  .slider-component .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .slider-component .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet,
  .slider-component .fake-pagination span {
    width: calc((1vw + 1vh) * 1.8);
    height: calc((1vw + 1vh) * 2);
    margin: 0px 10px;
  }

  .slider-component .swiper-horizontal > .swiper-pagination-bullets,
  .slider-component .swiper-pagination-bullets.swiper-pagination-horizontal,
  .slider-component .swiper-pagination-custom,
  .slider-component .swiper-pagination-fraction,
  .slider-component .fake-pagination {
    bottom: 22px !important;
  }

  .main-slide .main-slide__nameplate {
    margin-bottom: 0;
  }

  .main-slide .main-slide__title {
    font-size: calc((1vw + 1vh) * 2.8);
    line-height: 100%;
    margin-bottom: calc((1vw + 1vh) * 1);
  }

  .main-slide .main-slide__descr {
    max-width: 50vw;
    margin-bottom: calc((1vw + 1vh) * 1);
  }

  .main-slide .main-slide__content {
    padding: calc((1vw + 1vh) * 2);
  }
}